
*{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
}

a{
	text-decoration:none;
}

#cerrarSesion{
	float:right;
	width: 10%;
	float:right;
	margin-right:5%;
	margin-top:2%;
	height:20px;
}

header{
	background-color:CornflowerBlue;
	width:100%;
	height:8%;
	
}

#mensaje{
	width:100%;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 5%;
	font-size: 20px;
}
body{
	height:100%;
	width:100%;
	position:relative;
}

#titulo{
	color:white;
	font-size:50px;
	font-weight:bold;
	margin-left: 5%;
	float:left;
}
#botonera-analista{
	height:455px;
	width:100%;
	border-bottom-style: solid;
	border-bottom-style: solid;
	border-right-style: solid;
	border-top-style: solid;
	border-color:black;	
	float:right;
	position:relative;
	
}


#listar-tareas{
	margin-right:15%;
	font-size: 70px;
	height:455px;
	width:25%;
	float:right;
	background-image: url("https://image.ibb.co/cCrQi8/taskList.png");
	font-weight:bold;
	color:CornflowerBlue;;
}

#perfil{
	margin-left:15%;
	font-size: 70px;
	height:455px;
	width:25%;
	float:left;
	font-weight:bold;
	color:CornflowerBlue;;
	background-image: url("https://image.ibb.co/m3UZbT/new_Profile.png")
}

footer{
	height: 10%;
	width: 100%;

	bottom:0px;
	color: white;
	background-color: CornflowerBlue;
	position:absolute;
	
}

#infoFooter{
	font-size: 20px;
	margin-top: 1%;
	margin-left: 5px;
}